---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import ItemCard from "../components/ItemCard.astro";
---

<Layout>
    <SectionContainer>
        <h1>Buscá nuestra colección</h1>
        <ItemCard title="Café de Brasil" image="images/brasil.jpg">
            <div>
                <p>Región: Huila</p>
                <p>Varietal: Caturra</p>
                <p>Beneficio: Lavado</p>
                <p>Altura: 2100 m</p>
            </div>
        </ItemCard>
        <ItemCard title="Café de Colombia" image="images/colombia.webp">
            <div>
                <p>Región: Huila</p>
                <p>Varietal: Caturra</p>
                <p>Beneficio: Lavado</p>
                <p>Altura: 2100 m</p>
            </div></ItemCard
        >
        <ItemCard title="Blend Cofi" image="images/cofi.webp">
            <div>
                <p>Región: Huila</p>
                <p>Varietal: Caturra</p>
                <p>Beneficio: Lavado</p>
                <p>Altura: 2100 m</p>
            </div></ItemCard
        >
    </SectionContainer>
</Layout>
