---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import HeroImg from "../assets/hero.png";
import HeroAnimation from "../assets/heroAnimation.gif";
import CoursesImg from "../assets/courses.png";
import ParallaxItem from "../components/ParallaxItem.astro";
---

<Layout>
    <SectionContainer sectionId="home">
        <div class="hero-animation">
            <img src={HeroAnimation.src} alt="" />
        </div>
        <div class="hero-container">
            <ParallaxItem
                image="images/asset2.png"
                speed={0.3}
                className="asset-img"
            />
            <div>
                <h1>¿Ya probaste<br />un café igual?</h1>
                <div class="call-to-action">
                    <a href="/comprar">Comprar café</a>
                </div>
            </div>
            <div>
                <img src={HeroImg.src} alt="Chica tomando café" />
            </div>
        </div>
        <div class="courses-container">
            <div>
                <img src={CoursesImg.src} alt="" />
            </div>
            <div>
                <h1>¿Te interesa aprender<br />sobre el café?</h1>
                <div class="call-to-action">
                    <a href="/talleres">Comenzar taller</a>
                </div>
            </div>
            <ParallaxItem
                image="images/asset1.png"
                speed={0.3}
                className="asset-img"
            />
        </div>
        <div class="reviews-container"></div>
    </SectionContainer>
</Layout>

<style>
    .hero-container,
    .courses-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        min-height: 100vh;
        align-items: center;
        position: relative;
    }
    div > img {
        border-radius: 1rem;
    }
    .hero-container h1 {
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .courses-container h1 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .call-to-action {
        background-color: black;
        color: white;
        display: block;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        width: fit-content;
        cursor: pointer;
    }
    .call-to-action a {
        text-decoration: none;
        color: white;
    }
    .hero-animation img {
        width: 100%;
    }
    .asset-img {
        position: absolute;
        top: 20%;
        left: 10%;
    }

    /* Responsive */
    @media (max-width: 768px) {
        .hero-container h1 {
            font-size: 3rem;
        }
        .courses-container h1 {
            font-size: 2.5rem;
        }
        .asset-img {
            top: 15%;
            left: 5%;
        }
    }
</style>
