---
interface Props {
    image: string;
    title: string;
}
const { image, title } = Astro.props;
---

<article>
    <h1>{title}</h1>
    <div><img src={image} alt={title} /></div>
    <slot />
</article>
<style>
    article {
        text-align: center;
        max-width: 20rem;
    }
    img {
        width: 20rem;
        border-radius: 1rem;
    }
</style>
