---
interface Props {
    title: string;
    image: string;
}
const { title, image } = Astro.props;
---

<article>
    <div class="img-container"><img src={image} alt={title} /></div>
    <h1>{title}</h1>
    <slot />
</article>

<style>
    .img-container img {
        width: 20rem;
        border-radius: 1rem;
    }

    @media screen and (max-width: 600px) {
        .img-container img {
            width: 10rem;
        }
    }
</style>
