---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Peca'fé</title>
    </head>
    <body>
        <Navbar />
        <div class="layout-wrapper">
            <main class="main-content">
                <slot />
            </main>
        </div>
        <Footer />
    </body>
</html>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        background-color: #fee9c8;
        font-family: "Nunito", sans-serif;

        /* Elimina el max-width del body */
    }

    .layout-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 1920px;
        min-height: 100vh;
        margin: 0 auto;
    }

    .main-content {
        width: 100%;
    }
</style>
